<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" 
                  arguments=".\MesWEB.dll" 
                  stdoutLogEnabled="true" 
                  stdoutLogFile=".\logs\stdout" 
                  hostingModel="inprocess">
        <environmentVariables>
          <!-- スタートアップタイムアウトを5分に延長 -->
          <environmentVariable name="ASPNETCORE_STARTUP_TIMEOUT" value="300" />
        </environmentVariables>
      </aspNetCore>
      
      <!-- WebSocketを有効化 -->
      <webSocket enabled="true" />
      
      <!-- 最大リクエストサイズを20MBに設定 -->
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="20971520" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>
